<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-1">
            <h1 class="footer-logo">
            <img src="img/logo-blue.png" alt="Footer Logo Blue">
            </h1>
            <p>© Notiegram 2015 - Designed &amp; Developed by notiegram</p>
          </div>
          <div class="col-md-6 text-right">
              <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-4x"></i></a>
              <a href="https://www.twitter.com/"><i class="fa fa-twitter fa-4x"></i></a>
              <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-4x"></i></a>
          </div>
        </div>
      </div>
    </footer>
<!-- 
             <div class="col-md-4">
            <ul class="footer-nav">
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-2x"></i></a></li>
            </ul>
          </div> -->